@color-main: #A0A0A0;
@color-used: #387494;
@color-active: #6bc6f7;
@color-hover: #3B9BD0;
@color-bg: white;
@color-alert: #760000;
@color-empty: #A0A0A0;
@color-bg-light: #e9e9e9;
@color-bg-dark: #a5a5a5;

* {
    font-family: Sansation, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

.main-frame {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: @color-bg;
}

@font-face {
    font-family: 'Sansation';
    src: url('./assets/fonts/Sansation_Regular.ttf');
}