<div class="devices">
    <div class="devices-settings" >
        <form class="devices-form" [formGroup]="settingsForm">
            <input type="text" class="devices-search" formControlName="searchInput">
            <!-- <button (click)="loadMoreDevices()">Load more</button> -->
            <img src="../../../../assets/svg/reload.svg" class="devices-update" (click)="refreshDeviceElements()">
            <!-- <button (click)="refreshDeviceElements()">Update</button> -->
        </form>
        <div class="devices-update-time">
            Last update: {{ elapsedUpdateSeconds | secondsRound : 10 }}
        </div>
    </div>
    
    <div class="devices-list" *ngIf="devices; else devicesSkeleton">
        <app-device-element 
            *ngFor="let device of devices | deviceFilter : searchCriteria" 
            #device
            class="devices-element" 
            (clickEvent)="selectDevice($event)"
            [deviceInfo]="device"
            [ngClass]="{
                'enabled': devicesState.get(device.id)?.status === statusTypes.enabled,
                'disabled': devicesState.get(device.id)?.status === statusTypes.disabled,
                'blocked': devicesState.get(device.id)?.status === statusTypes.blocked,
                'sleep': devicesState.get(device.id)?.status === statusTypes.sleep,
                'selected': device.id === selectedDeviceId
            }" >
        </app-device-element>
    </div>
    <ng-template #devicesSkeleton class="devices-list sk">
        <div class="devices-element sk" *appRepeat="30">
            <div class="sk-line35 sk-el">

            </div>
            <div class="sk-line75 sk-el">

            </div>
        </div>
    </ng-template>
</div>
