<div class="devices">
    <form class="devices-settings" [formGroup]="settingsForm">
        <input type="text" class="devices-search" formControlName="searchInput">

    </form>
    <div class="devices-update-time">
        {{ elapsedUpdateSeconds | secondsRound : 10 }}
    </div>
    <div class="devices-controls">
        <button (click)="loadMoreDevices()">Load more</button>
        <button (click)="refreshDeviceElements()">Update</button>
    </div>
    
    <div class="devices-list">
        <app-device-element 
            *ngFor="let device of devices | deviceFilter : searchCriteria" 
            #device
            class="devices-element" 
            (clickEvent)="selectDevice($event)"
            [deviceInfo]="device"
            [ngClass]="{
                'enabled': device.status === statusTypes.enabled,
                'disabled': device.status === statusTypes.disabled,
                'blocked': device.status === statusTypes.blocked,
                'sleep': device.status === statusTypes.sleep
            }" >
        </app-device-element>
    </div>
</div>
