<p class="auth-logo">RMM</p>
<p class="auth-title">Login</p>
<div class="auth">
    <form class="auth-form" [formGroup] = "loginForm">
        <input class="auth-form-input" type="text" name="name" placeholder="Username" formControlName="userName">
        <input class="auth-form-input" type="password" name="password" placeholder="Password" formControlName="userPassword">
    </form>
    <div
        class="auth-form-alert"
        *ngIf="
            ((loginForm.controls['userName'].invalid &&
            loginForm.controls['userName'].touched) ||
            (loginForm.controls['userPassword'].invalid &&
            loginForm.controls['userPassword'].touched));
            else allowed
        "
    >
        Please complete all fields
    </div>
    <ng-template #allowed>
        <button class="auth-form-button" (click)="submit()">Confirm</button>
    </ng-template>
    <a class="auth-anchor" [routerLink] = "'/auth/register'">No account?</a>
</div>

<div class="auth-process" *ngIf="isProcessing">
    <div class="loader" style="width: 70px; height: 70px"></div>
    <span>Authorization</span>
</div>

