.dp {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    &-header {
        height: 40px;
        background-color: aliceblue;
    }

    &-body {
        height: calc(100% - 40px);
        background-color: antiquewhite;
    }
}