<p>reg works!</p>
<form [formGroup] = "regForm">
    <input type="text" name="name" placeholder="Username" formControlName="userName">
    <input type="text" name="email" placeholder="Email" formControlName="userEmail">
    <input type="password" name="password" placeholder="Password" formControlName="userPassword">
</form>
<div
    class="alert alert-danger"
    *ngIf="
        ((regForm.controls['userName'].invalid) ||
        (regForm.controls['userPassword'].invalid) ||
        (regForm.controls['userEmail'].invalid));
        else allowed
    "
>
    Please complete all fields
</div>
<ng-template #allowed>
    <button (click)="submit()">Create account</button>
</ng-template>
<button [routerLink] = "'/log'">Back to login</button>
